body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: white;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: space-between;
  color: white;
  font-size: 2rem;
  position:absolute;
  top: 0;
  left: 0;
  padding: 2rem;
}

.nav a {
  color: white;
  text-decoration: none;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

li {
  float: left;
}

li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
 color: #111;
}

.header {
  background-image: url("floralbg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60rem;
  display: grid;
  place-items: center;
  color: white;
}

.content {
  padding-left: 5rem;
  padding-right: 5rem;
}

.about, .projects {
  height: 60rem;
}
