@import url('https://fonts.googleapis.com/css2?family=Gilda+Display&family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

/* 
Fonts Imported
font-family: "Gilda Display", serif;
font-family: "Ubuntu Mono", monospace; 
*/

body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #EAEAEA;
  color: #3B393A;
  background-size: cover;
  background-attachment: fixed;  
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

@media only screen and (max-width: 600px) {

  body {
    font-size: 0.8rem;
  }

}

.link {
  color: #3B393A;
  text-decoration: none;
  font-family: "Ubuntu Mono", monospace; 
  font-size: 1rem;
  font-weight: bold;
}

.link:hover {
  color: #3B393A;
  background-color: #D5DCE4;
  border: 1px solid #3B393A;
}

.imgborder {
  border: 1.5rem solid transparent;
  padding: 0;
  border-image: url("../src/images/imageborder.jpg") 50 round;
}

@media only screen and (max-width: 600px) {

  .imgborder {
    border: 0.3rem solid transparent;
    border-image: url("../src/images/imageborder.jpg") 50 round;
  }

}

.featuredimg {
  width: 16rem;
  border: 1px solid #3B393A;
  margin: 0.5rem;
}

@media only screen and (max-width: 600px) {
  
    .featuredimg {
      width: 8rem;
    }
  
  }

.mainprojectsimg {
  width: 17rem;
  border: 1px solid #3B393A;
  margin: 0.5rem;
}

@media only screen and (max-width: 600px) {
  
    .mainprojectsimg {
      width: 8rem;
    }
  
  }

.projectsimg {
  width: 33rem;
  border: 1px solid #3B393A;
  margin: 0.5rem;
}

@media only screen and (max-width: 600px) {
  
    .projectsimg {
      width: 16rem;
    }
  
  }

.techul {
  list-style-type: square;
  font-family: "Ubuntu Mono", monospace;
}

@media only screen and (max-width: 600px) {
  
    .techul {
      padding-left: 0.2rem;
    }
  
  }

.techul li {
  margin: 0.5rem;
}

@media only screen and (max-width: 600px) {
  
    .techul li {
      margin: 0.3rem;
    }
  
  }

button {
  background-color: #D5DCE4;
  border: 1px solid #3B393A;
  color: #3B393A;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1rem;
  text-transform: uppercase;
  padding: 0.5rem;
  transition: 1s;
  margin: 0.5rem;
}

@media only screen and (max-width: 600px) {
  
    button {
      font-size: 0.8rem;
      padding: 0.3rem;
    }
  
  }

button:hover {
  cursor: pointer;
  background-color: #EAEAEA;
}

/* ---------------------- Headers ---------------------- */

h1 {
  font-family: "Gilda Display", serif;
  font-weight: normal;
  font-size: 2.2rem;
  color: #3B393A;
  letter-spacing: -0.15rem;
  text-align: left;
  margin-top: 0;
}

@media only screen and (max-width: 600px) {
  
    h1 {
      font-size: 1.5rem;
      letter-spacing: -0.09rem;
    }
  
  }

.h1gray {
  color: #EAEAEA;
}

h2 {
  font-family: "Gilda Display", serif;
  font-weight: normal;
  font-size: 1.8rem;
  color: #3B393A;
  letter-spacing: -0.15rem;
  text-align: left;
  margin-top: 0;
}

@media only screen and (max-width: 600px) {
  
    h2 {
      font-size: 1.2rem;
      letter-spacing: -0.09rem;
    }
  
  }

h3 {
  font-family: "Ubuntu Mono", monospace;
  font-weight: normal;
  font-size: 1rem;
  text-align: left;
  margin-top: 0;
  margin-bottom: 0.5rem;
  text-transform: uppercase;
}

@media only screen and (max-width: 600px) {
  
    h3 {
      font-size: 0.8rem;
    }
  
  }

.h3center {
  text-align: center;
}

h4 {
  font-family: "Gilda Display", serif;
  font-weight: normal;
  font-size: 1.8rem;
  color: #3B393A;
  letter-spacing: -0.15rem;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

@media only screen and (max-width: 600px) {
  
    h4 {
      font-size: 1.1rem;
      letter-spacing: -0.09rem;
    }
  
  }


/* ---------------------- Navigation ---------------------- */

.navtitle {
  font-family: "Gilda Display", serif;
  font-size: 2rem;
  color: #3B393A;
  letter-spacing: -0.15rem;
  text-align: left;
  padding-left: 2rem;
  text-transform: uppercase;
  margin-top: auto;
  margin-bottom: auto;
}

.nav {
  display: inline-flex;
  justify-content: space-between;
  color: #3B393A;
  background-color: #D5DCE4;
  width: 100%;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  border-bottom: 1px solid #3B393A;
}

.navlinks {
  padding-right: 2rem;
  margin-top: auto;
  margin-bottom: auto;
}

.navigationlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navigationli {
  float: left;
}

ul .navlinks{
  line-height: 1.3rem;
  font-size: 1rem;
}

li a {
  display: block;
  color: #3B393A;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: "Ubuntu Mono", monospace;
  text-transform: uppercase;
  font-size: 1.1rem;
  transition: 1s;
}

li a:hover {
  color: #646263;
  text-shadow: #646263 0 0 5px;
  opacity: 1;
}

hr {
  border: 1px solid #3B393A;
  width: 75%;
  text-align: center;
  margin-top: 3rem;
  margin-bottom: 3rem;
}

@media only screen and (max-width: 600px) {
  
    hr {
     margin-top: 1.5rem;
     margin-bottom: 1.5rem;
    }
  
  }

input, textarea {
  background-color: #EAEAEA;
  border: 1px solid #3B393A;
  color: #3B393A;
  padding: 0.5rem;
  font-family: "Ubuntu Mono", monospace;
  font-size: 1rem;
  margin: 0.5rem;
  width: 90%;
}


/* ---------------------- Divs ---------------------- */

.App {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.about {
  width: 80%;
  display: flex;
  margin-top: 3rem;
  margin-bottom: 3rem;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  
    .about {
      flex-direction: column;
      width: 90%;
      margin-top: 1.5rem;
      margin-bottom: 1.5rem;
    }
  
  }

.aboutimage, .abouttext {
  margin: auto;
}

@media only screen and (max-width: 600px) {
  
    .aboutimage {
      padding-bottom: 1.5rem;
    }

    .Freya {
      float: none !important;
    }
  
  }

.quote {
  width: 100%;
  margin: auto;
  background-color: #3B393A;
  color: #EAEAEA;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: "Ubuntu Mono", monospace;
  text-transform: uppercase;
}

.note {
  width: 100%;
  margin: auto;
  background-color: #3B393A;
  color: #EAEAEA;
  text-align: center;
  padding-top: 2rem;
  padding-bottom: 2rem;
  font-family: "Ubuntu Mono", monospace;
}

.featured, .education, .projects {
  width: 80%;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

@media only screen and (max-width: 600px) {
  
    .featured, .education, .projects {
      width: 90%;
    }

    .featuredcontent {
      width: 100% !important;
    }

    .featuredtech, .featuredimages {
      width: 50%;
    }
  
  }

.contact {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.projectcontainer, .formcontainer {
  display: flex;
  justify-content: space-evenly;
  margin-left: auto;
  margin-right: auto;
}

@media only screen and (max-width: 600px) {
  
    .projectcontainer, .formcontainer {
      flex-direction: column;
    }
  
  }

.projectinfo, .contactform, .contactimage {
  margin: auto;
  width: 50%;
  padding: 1rem;
}

@media only screen and (max-width: 600px) {
  
    .projectinfo, .contactform, .contactimage {
      width: 100%;
      padding: 0;
    }
  
  }

.projectimages {
  width: 50%;
  margin: auto;
  padding: 1rem;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  
    .projectimages {
      width: 100%;
      padding: 0;
    }
  
  }

.skillscontainer {
  background-color: #3B393A;
  color: #EAEAEA;
  margin: auto;
  padding-top: 3rem;
  padding-bottom: 2rem;
  width: 100%;
}

.skills {
  width: 80%;
  margin: auto;
}

@media only screen and (max-width: 600px) {
  
    .skills {
      width: 100%;
    }

    .skills h3, .skills h1 {
      padding-left: 1rem;
    }
  
  }

.skillslists {
  display: flex;
  justify-content: space-evenly;
}

.skillsgrid {
  background-color: #D5DCE4;
  color: #3B393A;
  padding: 0.5rem;
  width: 25%;
}

.footer {
  color: #3B393A;
  background-color: #D5DCE4;
  width: 100%;
  margin-top: auto;
  padding-top: 1rem;
  padding-bottom: 1rem;
  border-top: 1px solid #3B393A;
  font-family: "Ubuntu Mono", monospace;
  text-transform: uppercase;
  text-align: center;
}

