@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:wght@300&display=swap');

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  color: #fff;
  background-image: url("background.jpg");
  background-size: cover;
  background-attachment: fixed;  
  font-family: 'Roboto', sans-serif;
  font-size: 1.2rem;
}

.imgborder {
  border: 20px solid transparent;
  padding: 0px;
  border-image: url("imageborder.jpg") 50 round;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.nav {
  display: flex;
  justify-content: space-between;
  color: #fff;
  position:fixed;
  top: 0;
  left: 0;
  padding: 1rem;
  background-color: #060606;
  width: 100%;
}

.navigationlist {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.navigationli {
  float: left;
}

ul {
  list-style-type: square;
  line-height: 1.3rem;
  font-size: 1rem;
}

li a {
  display: block;
  color: #fff;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-size: 1.3rem;
  opacity: 0.5;
  transition: 1s;
}

li a:hover {
  color: #fff;
  text-shadow: #fff 1px 0 10px;
  opacity: 1;
}

a {
  color: #fff;
  text-align: center;
  padding: 10px;
  text-decoration: none;
  font-family: 'Playfair Display', serif;
  text-transform: uppercase;
  font-size: 1rem;
  opacity: 0.5;
  transition: 1s;
}

a:hover {
  color: #fff;
  text-shadow: #fff 1px 0 10px;
  opacity: 1;
}

.header {
  background-image: url("floraltransparent.png");
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  height: 60rem;
  display: grid;
  place-items: center;
  color: #fff;
}

.content {
  padding-left: 5rem;
  padding-right: 5rem;
}


.about, .projects, .contact {
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  padding: 40px;
}


h2 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  border-bottom: 3px solid #363826;
  width: 50%;
  text-align: left;
  padding: 20px;
}

h3 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  border-bottom: 3px solid #363826;
  width: 50%;
  text-align: right;
  margin-top: 0px;
  padding: 20px;
  float: right;
}

h4 {
  font-family: 'Playfair Display', serif;
  font-weight: normal;
  font-size: 1.2rem;
  letter-spacing: 0.2rem;
  border-bottom: 3px solid #363826;
  text-align: center;
  padding: 10px;
  margin: 10px;
}

.abouttd {
  font-weight: normal;
  line-height: 2rem;
  text-align: left;
  padding: 20px;
}

.projectstd {
  padding: 20px;
}

.projectdescription {
  font-size: 0.9rem;
  display: block;
  padding: 10px;
}

.tableborder {
  border-right: 3px solid #363826;
}